In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
pd.options.mode.chained_assignment = None

In [2]:
import os
import pandas as pd
dfs = []  # Create an empty list to store dataframes

# Example: Read multiple CSV files
arr_dep_dir = '../data/MBTA_Website/MBTA_Bus_Arrival_Departure_Times_2023/'
csv_files = os.listdir(arr_dep_dir)
csv_files = [os.path.join(arr_dep_dir, i) for i in csv_files][:6] 

for f in csv_files:
    df = pd.read_csv(f)
    dfs.append(df)

df = pd.concat(dfs, axis=0, ignore_index=True)
df.head()

,service_date,route_id,direction_id,half_trip_id,stop_id,time_point_id,time_point_order,point_type,standard_type,scheduled,actual,scheduled_headway,headway
0,2023-01-01,01,Inbound,58061899.0,110,hhgat,1,Startpoint,Schedule,1900-01-01T06:05:00Z,1900-01-01T06:05:04Z,NaN,NaN
1,2023-01-01,01,Inbound,58061899.0,67,maput,2,Midpoint,Schedule,1900-01-01T06:09:00Z,1900-01-01T06:06:28Z,NaN,NaN
2,2023-01-01,01,Inbound,58061899.0,72,cntsq,3,Midpoint,Schedule,1900-01-01T06:12:00Z,1900-01-01T06:08:57Z,NaN,NaN
3,2023-01-01,01,Inbound,58061899.0,75,mit,4,Midpoint,Schedule,1900-01-01T06:15:00Z,1900-01-01T06:12:41Z,NaN,NaN
4,2023-01-01,01,Inbound,58061899.0,79,hynes,5,Midpoint,Schedule,1900-01-01T06:19:00Z,1900-01-01T06:16:35Z,NaN,NaN

In [3]:
filtered_df = df[df['point_type'].isin(['Startpoint', 'Endpoint'])] # calculate time for each trip
filtered_df['actual'] = pd.to_datetime(filtered_df['actual'])

# Group the filtered DataFrame by 'route_id'
grouped = filtered_df.groupby('route_id')

# Calculate the time difference for each group
time_difference = grouped['actual'].diff().abs()
time_difference.dropna(inplace=True)

# Calculate the average time difference for each route
average_time_difference = time_difference.groupby(filtered_df['route_id']).mean()


# Display the results
print(average_time_difference.head(20))

route_id
01    0 days 00:12:29.897617697
04    0 days 00:52:53.966500972
07    0 days 00:17:09.267979427
08    0 days 00:29:42.914191419
09    0 days 00:16:33.354348444
10    0 days 00:26:14.897579571
100   0 days 00:26:51.003679741
101   0 days 00:27:30.096403475
104   0 days 00:23:48.315156656
105   0 days 00:55:45.123865823
106   0 days 00:40:15.591193728
108   0 days 00:29:34.496422648
109   0 days 00:20:58.563276142
11    0 days 00:26:58.325604244
110   0 days 00:29:11.479423292
111   0 days 00:08:50.784762590
112   0 days 00:46:35.929147259
114   0 days 00:47:15.955206378
116   0 days 00:23:43.997474095
117   0 days 00:17:18.651579728
Name: actual, dtype: timedelta64[ns]

In [4]:
average_time_difference.sort_values(ascending=False).head(10) #longest routes

route_id
217   0 days 02:45:08.655584415
439   0 days 02:33:49.784576697
245   0 days 02:13:13.253574432
428   0 days 02:00:04.905533063
554   0 days 01:46:22.798531810
451   0 days 01:44:28.601766358
558   0 days 01:37:19.276116504
424   0 days 01:24:22.709447415
76    0 days 01:21:58.216290940
556   0 days 01:16:13.600459242
Name: actual, dtype: timedelta64[ns]

In [5]:
average_time_difference.sort_values(ascending=True).head(10) #fastest routes

route_id
111   0 days 00:08:50.784762590
32    0 days 00:09:27.525725743
28    0 days 00:10:18.854261763
23    0 days 00:11:43.171046651
66    0 days 00:11:47.948230150
SL5   0 days 00:12:05.557564405
22    0 days 00:12:18.731593627
01    0 days 00:12:29.897617697
SL2   0 days 00:12:58.020416402
743   0 days 00:13:02.580268498
Name: actual, dtype: timedelta64[ns]